# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment Variables
.env

# Python Packaging
*.egg-info/
build/
dist/

.virtual_documents/